<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('shared.email') %></strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t('.crypted_password') %></strong>
  <%= @user.crypted_password %>
</p>

<p>
  <strong><%= t('.salt') %></strong>
  <%= @user.salt %>
</p>

<%= link_to t('shared.edit'), edit_user_path(@user) %> |
<%= link_to t('.back'), users_path %>
