<% content_for :title, t('.title') %>
<p style="font-size: 22px;">
<%= t('.welcome') %>
</p>
<% if current_user %>
  <% if @card %>
    <p>
      <b><%= t('shared.german_word') %></b><br />
      <%= @card.original_text %>
    </p>

    <% if @card.image? %>
          <%= image_tag @card.image_url %>
    <% end %>
    <%= render 'check_form', card: @card %>
  <% else %>
    <p>
      <%= t('.no_cards') %>
  <% end %>
<% else %>
  <%= t('.sign_in') %>
<% end %>