<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <header>
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to t('.main'), root_path %></li>
              <% if current_user %>
                <li><%= link_to t('.my_packs'), packs_path %></li>
                <li><%= link_to t('.add_pack'), new_pack_path %></li>
                <li><%= link_to t('.my_cards'), cards_path %></li>
                <li><%= link_to t('.add_card'), new_card_path %></li>
                <li><%= link_to t('.edit_profile'), edit_user_path(current_user.id) %></li>
                <li><%= link_to t('.exit'), :logout, method: :post %></li>
              <% else %>
                <li><%= link_to t('.register'), new_user_path %></li>
                <li><%= link_to t('shared.enter'), :login %></li>
                <% I18n.available_locales.each do |locale| %>
                  <li class="nav-item"><%= link_to locale, "?locale=#{locale}", class: 'nav-link', id: "locale-#{locale}" %></li>
                <% end %>
              <% end %>
            </ul>
        </nav>
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
        <% end -%>
      </header>
      <%= yield %>
    </div>
  </div>
</body>
</html>

